@font-face {
  font-family: "comfortaa";
  src: url("../fonts/comfortaa.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #303030;
  font-family: "comfortaa";
  overflow: hidden;
}

html {
  font-size: 14px;
  min-height: 100%;
  overflow: hidden;
}

@media (max-width: 768px) {
  html {
    overflow: visible;
  }
  .sidebar {
    display: none;
  }
}
