@font-face {
  font-family: "comfortaa";
  src: url("../fonts/comfortaa.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #303030;
  font-family: "comfortaa";
  overflow: hidden;
}

html {
  font-size: 14px;
  min-height: 100%;
  overflow: hidden;
}

.btn:hover {
  opacity: 0.9;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none !important;
}

.form-control:focus,
.form-control:active,
input:focus,
input:active {
  border-color: #eb975e !important;
  box-shadow: none !important;
  outline: 0 !important;
}

.btn-close {
  box-shadow: none !important;
  outline: 0 !important;
}

.form-control:hover {
  border-color: #eb975e;
}

@media (max-width: 768px) {
  html {
    overflow: visible;
  }
  .sidebar {
    display: none;
  }
}
